/* Basic styling */

:root {
    /* Colors */
    --black: #09090c;
    --grey: #a4b2bc;
    --white: #fff;
}

html {
    overflow: hidden;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}